.bgDef {
    background-color: #181a1b !important;
}

.text-justify {
    text-align: justify !important;
}

.bgAlt {
    background-color: #1d1e20 !important;
}

.bg-white {
    background-color: #181a1b !important;
}

.dim-bg {
    background: rgba(0,0,0, .5);
}

footer.end{
	position:fixed;
	left:0;
	bottom:0;
    width: 100%;
}

.eLink {
    color: #00bcd4;
    text-decoration: underline;
    font-style: italic;
}